<div class="row" style="margin-top:30px">
	<div class="span6">
		<div class="row">
			<h1>경기 생성</h1>
		</div>
		<div class="row">
			<form method="POST" action="./tournaments">
				<p> 선수 1 :
					<select name="p1_id">
						{% for p in participants %}
						<option value="{{p.key.urlsafe()}}">
							{{p.name}} ({{p.association}} - {{p.grade}})
						</option>
						{% endfor %}
					</select>
				</p>
				<p> 선수 2 : 
					<select name="p2_id">
						{% for p in participants %}
						<option value="{{p.key.urlsafe()}}">
							{{p.name}} ({{p.association}} - {{p.grade}})
						</option>
						{% endfor %}
					</select>
				</p>
				<p> 경기 조번호 :	<input type="text" name="playground_num" class="input-small" /> </p>
				<p> 토너먼트 :	 
					<select name="tournament_num">
						{% for t in tournaments %}
						<option value="{{t.key.urlsafe()}}">
							{{t.tournament_name}}
						</option>
						{% endfor %}
					</select>
				</p>
				<input type="submit" class="btn btn-warning" />
			</form>
		</div>
	</div>
	<div class="span6">
		<div class="row">
			<h1>경기장 목록</h1>
		</div>
		<div class="row">
			<ul>
			{% for pg in playgrounds %}
			<li>
				{{pg.ground_num}}
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
