<div class="row">
	<div class="span6">
		<h1>토너먼트 관리</h1>
		
		<form class="well form-inline" method="POST" action="./tournaments">
			<div>
				<input type="text" name="tournament_name" placeholder="토너먼트이름" />
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn">4</button>
					<button type="button" class="btn">8</button>
					<button type="button" class="btn">16</button>
					<button type="button" class="btn">32</button>
				</div> 강
				<input type="hidden" id="tournament_level" name="tournament_level" />
				<input type="submit" class="btn btn-warning" value="생성" />
			</div>
		</form>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>토너먼트 이름</th>
					<th>토너먼트 단계 수</th>
				</tr>
			</thead>
			<tbody>
			{% for t in tournaments %}
			<tr>
				<td>{{t.tournament_name}}</td><td>{{t.tournament_level}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="span6">	
		<h1>경기장 관리</h1>		
		<form method="POST" class="well form-inline" action="./playground">
			<input type="text" name="playground_num" placeholder="경기장번호" />
			<input type="submit" class="btn btn-warning" value="생성" />
		</form>

		<div class="well">
			<h3>생성된 경기장</h3>
			{% for pg in playgrounds %}
			<button class="btn">경기장 {{pg.playground_num}}</button>
			{% endfor %}
		</div>
	</div>
</div>
<script defer="defer">
$(function(){
	$(".btn-group button").click(function () {
		$("#tournament_level").val($(this).text());
	});

	$(".btn-group button:first").click();
});
</script>
