<div class="row">
	<div class="span4">	
		<h1>토너먼트 목록</h1>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>토너먼트 이름</th><th>토너먼트 단계</th>
			</tr>
		</thead>
		<tbody>
		{% for t in tournaments %}
		<tr>
			<td>{{ t.tournament_name }}</td>
			<td><span class="label label-inverse">{{ t.tournament_level }}</span></td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>

	<div class="span8">
		<h1>경기장 현황</h1>
		{% for pg in playgrounds %}
		<div class="border-round" style="padding:0 5px 0 5px; margin:5px 0 5px 0">
			<h3>{{pg.playground_num}} 경기장</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>토너먼트 이름</th><th>조번호</th><th>선수1</th><th>선수2</th>
					</tr>
				</thead>
				<tbody>
				{% for f in playground_fights[pg.playground_num] %}
				<tr>
					<td>{{f.tournament.get().tournament_name}}</td>
					<td>{{f.tournament_num}}</td>
					<td>{{f.player1.get().name}}</td>
					<td>{{f.player2.get().name}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>