<div class="row">
	<div class="span4">	
		<h1>토너먼트 목록</h1>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>토너먼트 이름</th><th>토너먼트 단계</th>
			</tr>
		</thead>
		<tbody>
		{% for t in tournaments %}
		<tr>
			<td>{{ t.tournament_name }}</td>
			<td><span class="label label-inverse">{{ t.tournament_level }}</span></td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>

	<div class="span8">
		<h1>경기장 현황</h1>
		{% for pg in playgrounds %}
		<div class="border-round vertical-split">
			<h3>{{pg.playground_name}} 경기장</h3>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>토너먼트 이름</th>
						<th>토너먼트 단계</th>
						<th>조번호</th>
						<th>선수1</th>
						<th>선수2</th>
						<th>승자선택</th>
					</tr>
				</thead>
				<tbody>
				{% for f in playground_fights[pg.playground_name] %}
				<tr>
					<td>{{f.tournament.get().tournament_name}}</td>
					<td>{{f.fight_level}}</td>
					<td>{{f.tournament_num}}</td>
					<td>
					{% if f.player1 != None %}
						{{f.player1.get().name}}
					{% endif %}
					</td>
					
					<td>
					{% if f.player2 != None %}
						{{f.player2.get().name}}
					{% endif %}
					</td>
					<td>
					{% if f.player1 != None and f.player2 != None %}
						<form method="POST" class="form form-inline" action="fight/updateWinner">
							<input type="hidden" name="fight_id" value="{{f.key.urlsafe()}}" />
							<select name="winner" class="input-small">
								<option value="{{f.player1.urlsafe()}}">{{f.player1.get().name}}</option>
								<option value="{{f.player2.urlsafe()}}">{{f.player2.get().name}}</option>
							</select>
							<input type="submit" class="btn btn-waring" />
						</form>
					{% endif %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>
</div>
