<div class="row">	
	<h1>경기 관리</h1>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>토너먼트 이름</th>
				<th>조번호</th>
				<th>선수1</th>
				<th>선수2</th>
				<th>경기장 번호</th>
				<th>경기 상태</th>
				<th>승자</th>
				<th>...</th>
			</tr>
			<tr>
				<form method="POST" action="./fight">	
				<td>
					<select name="tournament_id">
						{% for t in tournaments %}
						<option value="{{t.key.urlsafe()}}">
							{{t.tournament_name}}
						</option>
						{% endfor %}
					</select>
				</td>
				<td><input type="text" name="tournament_num" class="input-small" /></td>
				<td>
					<select name="p1_id">
						{% for p in players %}
						<option value="{{p.key.urlsafe()}}">
							{{p.name}} ({{p.association}} - {{p.grade}})
						</option>
						{% endfor %}
					</select>
				</td>
				<td>
					<select name="p2_id">
						{% for p in players %}
						<option value="{{p.key.urlsafe()}}">
							{{p.name}} ({{p.association}} - {{p.grade}})
						</option>
						{% endfor %}
					</select>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td><input type="submit" class="btn btn-warning" value="생성" /></td>
				</form>
			</tr>
		</thead>
		<tbody>
		{% for f in fights %}
		<tr id="{{f.key.urlsafe()}}">
			
			<td>{{f.tournament.get().tournament_name}}</td>
			<td>{{f.tournament_num}}</td>
			<td>{{f.player1.get().name}}</td>
			<td>{{f.player2.get().name}}</td>
			<td>{{f.playground_num}}</td>
			<td>
				{{f.status}}
				<form method="POST" action="./fight/toggleState?fight={{f.key.urlsafe()}}">
					<input type="submit" class="btn btn-warning" value="변경" />
				</form>
			</td>
			<td>{% if f is defined %}{{f.winner.get().name}}{% endif %}</td>
			<td>
				<form method="POST" action="./fight/update?fight={{f.key.urlsafe()}}">
				<div class="btn-group" data-toggle="buttons-radio">
					{% for pg in playgrounds %}
					<button type="button" class="btn">{{pg.playground_num}}</button>
					{% endfor %}
				</div>
				<input type="hidden" id="playground_num_{{f.key.urlsafe()}}" name="playground_num" />
				<input type="submit" class="btn" value="저장" />
				</form>
			</td>
		</tr>
		
		{% endfor %}
		
		</tbody>
	</table>
	
</div>


<script defer="defer">
$(function(){
	$(".btn-group button").click(function () {
		var k = $(this).closest('tr').attr("id");
		$("#playground_num_"+k).val($(this).text());
	});
});
</script>
