<div class="row">
	<div class="span6">
		<h1>토너먼트 관리</h1>
		
		<form class="well form-inline" method="POST" action="./tournaments">
			<div>
				<input type="text" name="tournament_name" placeholder="토너먼트이름" />
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn">4</button>
					<button type="button" class="btn">8</button>
					<button type="button" class="btn">16</button>
					<button type="button" class="btn">32</button>
				</div> 강
				<input type="hidden" id="tournament_level" name="tournament_level" />
				<input type="submit" class="btn btn-warning" value="생성" />
			</div>
		</form>

		<div id="tournament_view">
		</div>
	</div>

	<div class="span6">	
		<h1>경기장 관리</h1>		
		<form method="POST" class="well form-inline" action="./playground">
			<input type="text" name="playground_num" placeholder="경기장번호" />
			<input type="submit" class="btn btn-warning" value="생성" />
		</form>

		<div class="well">
			<h3>생성된 경기장</h3>
			<div id="playgrounds">
			</div>
		</div>
	</div>
</div>


<script src="static/js/tournament.js" defer="defer"></script>
<script src="static/js/playground.js" defer="defer"></script>
<script defer="defer">
$(function(){
	//경기장 설정 button handler
	$(".btn-group button").click(function () {
		$("#tournament_level").val($(this).text());
	});

	$(".btn-group button:first").click();
	$.getJSON('tournaments?withDetail=true', function(data){
		renderTournaments(data);
	});
	$.getJSON('playground', function(data){
		renderPlayground(data);
	});
});
</script>
