<div class="row">
	<div class="span6">
		<h1>토너먼트 관리</h1>
		
		<form class="well form-inline" method="POST" action="./tournaments">
			<div>
				<input type="text" name="tournament_name" placeholder="토너먼트이름" />
				<div class="btn-group" data-toggle="buttons-radio">
					<button type="button" class="btn">4</button>
					<button type="button" class="btn">8</button>
					<button type="button" class="btn">16</button>
					<button type="button" class="btn">32</button>
				</div> 강
				<input type="hidden" id="tournament_level" name="tournament_level" />
				<input type="submit" class="btn btn-warning" value="생성" />
			</div>
		</form>

		<div>
		{% for t in tournaments %}
		<div class="border-round vertical-split">
			<h3>{{t.tournament_name}} ({{t.tournament_level}}강)</h3>
			<table class="table table-bordered table-striped tournament-table">
			<tr>
				<td colspan="4"><span class="label label-danger">결승</span></td>
			</tr>
			<tr>
				<td colspan="4">아직...</td>
			</tr>
			<tr>
				<td colspan="2"><span class="label label-info">준결승</span></td>
				<td colspan="2"><span class="label label-info">준결승</span></td>
			</tr>
			<tr>
				<td colspan="2">아직...</td>
				<td colspan="2">아직...</td>
			</tr>
			<tr>
				<td><span class="label label-inverse">8강</span></td>
				<td><span class="label label-inverse">8강</span></td>
				<td><span class="label label-inverse">8강</span></td>
				<td><span class="label label-inverse">8강</span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			</table>
		</div>
		{% endfor %}
		</div>
	</div>

	<div class="span6">	
		<h1>경기장 관리</h1>		
		<form method="POST" class="well form-inline" action="./playground">
			<input type="text" name="playground_num" placeholder="경기장번호" />
			<input type="submit" class="btn btn-warning" value="생성" />
		</form>

		<div class="well">
			<h3>생성된 경기장</h3>
			{% for pg in playgrounds %}
			<button class="btn">경기장 {{pg.playground_num}}</button>
			{% endfor %}
		</div>
	</div>
</div>
<script defer="defer">
$(function(){
	$(".btn-group button").click(function () {
		$("#tournament_level").val($(this).text());
	});

	$(".btn-group button:first").click();
});
</script>
